<!DOCTYPE html>
<html>
<head>
  <title>PAGE_TITLE</title>
  <link rel="stylesheet" href="../../css/report_styles.css">
</head>
<body>
  <div id="main"></div>

  <script src="../../js/vendor/Chart.js/Chart.min.js"></script>
  <script src="../../js/Utility.js"></script>
  <script src="../../js/PageController.js"></script>
  <script src="../../js/TabContainer.js"></script>
  <script src="../../js/Data.js"></script>
  <script src="../../js/URIGrid.js"></script>
  <script src="../../js/TLSCanary.js"></script>

  <script>
    var canary = new TLSCanary(document.getElementById("main"));
    canary.load("log.txt");
  </script>
</body>
</html>
