table,
th,
td {
  border: 0 solid black;
  font-size: small;
  white-space: nowrap;
}

a {
  cursor:pointer;
  text-decoration:none;
}

tr:nth-child(even) {
  background: #eee;
}

tr:nth-child(odd) {
  background: white;
}

body {
  font: small arial, helvetica, sans-serif;
}

select {
  background: #cff;
  overflow-y: scroll;
}

#filters {
  left: 10px;
  position: absolute;
  top: 60px;
}

#floater {
  background: #cff;
  color: #540;
  left: 10px;
  position: absolute;
  top: 20px;
  z-index: 100;
}

#floater a {
  background: #cff;
  color: black;
  margin: 4px 4px 4px 4px;
  padding: 0 1em;
  text-decoration: none;
}

#floater a:hover {
  background: #9ff;
  color: #540;
  font-weight: bold;
}

#floater li {
  display: inline;
}

#floater ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#content #floater {
  background: #cff;
  margin: 0;
  padding: 0;
}

#filter_header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#filter_header li {
  display: inline;
  margin: 0 2px 0 0;
}

#filter_header a {
  background: #cff;
  color: #a80;
  padding: 0 1em;
  text-decoration: none;
}

#filter_header a:hover {
  background: #9ff;
  color: #540;
}

#controls a {
  background: #cff;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  padding: 0 1em;
  text-decoration: none;
}
#controls #expired a {
  background: #333;
  border: 10px solid white;
  color: #333;
  padding: 0 1em;
  text-decoration: none;
}

#controls a:hover {
  background: #cff;
  color: #540;
}

#filter_header #selected_filter a {
  background: #9ff;
  color: black;
  font-weight: bold;
  padding-bottom: 2px;
}

#content #controls {
  background: #9ff;
  border-top: 2px solid white;
  padding: 1em;
}

#content #controls p {
  background: #9ff;
  margin: 0;
  padding: 1em;
}

#content a:hover {
  background: #cff;
  color: #540;
}

#header {
  left: 10px;
  position: absolute;
  top: 10px;
  width: 95%;
}

#tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li {
  background: #cff;
  border-radius: 10px 10px 0 0;
  color: #a80;
  display: inline;
  margin: 0 2px 0 0;
  padding: 0 1em;
}

#tabs li:hover {
  background: #9ff;
  color: #540;
}

#tabs a {
  color: black;
  padding: 0 1em;
  text-decoration: none;
}

#tabs a:hover {
  background: #9ff;
}

#tabs #selected {
  background: #9ff;
  color: #540;
  padding-bottom: 2px;
}

#tabs #selected a {
  background: #9ff;
  font-weight: bold;
}

#content {
  background: #9ff;
  border-top: 2px solid white;
  height: 100%;
  padding: 1em;
  width: 100%;
  z-index: 0;
}

#content #page_controller {
  width: 98%;
}

#content textarea {
  height: 400px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
}

#content p {
  background: none;
  margin: 0;
  padding: 1em;
  width: 100%;
}

#content div {
  background: white;
  height: 100%;
  margin: 0;
  overflow-x: auto;
  padding: 1em;
  width: 97%;
}

#column_header a {
  color: black;
  font-weight: bold;
  padding: 0 4px;
  text-decoration: none;
}

#grid {
  height: 100%;
  width: 100%;
}

#page_controller a {
  margin: 2px 2px 0 0;
  padding: 0 2px;
}

h1 {
  font-size: 1.5em;
}
